page-home {
  #main-page {
    background-color: #017FFF;

    .fixed-content{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #logo{
      width: 60%;
      margin: 15% auto;
      display: block;
    }

    #reserve-history {
      position: absolute;
      right: 10px;
    }

    button.action {
      width: 80%;
      margin: 20px auto;
      height: 3.2em;
    }
  }
}
